body 
{
    font-family: Helvetica, Arial, sans-serif;
}

div.image {
    background-image: url(/img/syshardimg.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.header {
    border-style: none none solid none;
    padding: 20px 20px;
    height: auto;
}
div.button
{
    padding-top: 20px;
}
button
{
    padding: 15px 35px;
    background-color: black;
    color: white;
}